/*GENERAL STYLES*/
body {
	font-family: Arial, San-Serif;
	font-size: 100%;
	background-color: #E3FFD3;
}
ul {
	margin: 0;/*зовнішній відступ*/
	padding: 0;
}
ul li{
	list-style-type: none;/*щоб забрати маркований список*/
}
a {
	text-decoration: none;/*позбутися підкресленого тексту*/
}
p {
	font-size: 13px;
	line-height: 1.3em;
}
.container {
	margin: 0 auto;/* зн відступ*/
	width: 60%;
}

/*HEADER*/
.header {
	padding:50px 0;/*внутрішній відступ*/
	background-image: url(https://biologie.uni-greifswald.de/fileadmin/uni-greifswald/fakultaet/mnf/biologie/0_bio_general/studium_und_lehre/msc_biodiv/Lessmann_MSc_BioOeko.jpg);
	background-size: 100%;
	width: 100%;
	position: static;
}
.header h1 {
	color: white;
	text-align: center;
	font-size: 60px;
}
.header h2 {
	color: #E3FFD3;
	text-align: center;
	font-size: 35px;
}

/*NAV*/
.page-navigation {
	width: 100%;
	background-color: #222;
	border-color: #101010; 
	min-height: 64px;/*min*/
}
.page-navigation li {
	float: left;/*обтікання*/
	width: 100px;
}
.page-navigation a {
	display: block;/*щоб розміщувати елементи на всю ширину тега li*/
	color: #9d9d9d;
	line-height: 4em; /*висота стрічки(кнопки)*/
	font-weight: bold;
	text-align: center;
}
.page-navigation li a:hover/*спрацьовує при наведенні курсору мишки*/ {
	color: #E3FFD3;
	background-color: black;
}

/*LOGIN*/
.login {
	padding:15px 0;
	float: right;/*обтікання з правого краю*/
}
.login input[type="text"],
.login input[type="password"]{
	padding: 5px;
	margin-right: 5px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
}
.login input[type="submit"] {
	padding: 5px 15px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}
.login input[type="submit"]:hover,
button:hover {
	background-color:darkgrey;
	color: white;
}
/*NAV*/
/*MAIN PART*/
.collections {
	overflow: auto;
}
.collection-title {
	color: #222;
	padding-bottom: 5px;
	border-bottom: 1px solid darkgrey;
	font-size: 36px;
}
.collection-title small {
	color: #222;
	font-size: 70%;
}
.colllection-item-outer {
	display: inline-block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	width: 33.33%;
	box-sizing: border-box;
}
.collections > div:first-child {
	padding-left: 0;
	padding-right: 5px;
}
.collections > div:last-child {
	padding-right: 0;
	padding-left: 5px;
}
.collection-item {
	border: 1px solid #959595;
	display: inline-block;
	float: left;
	width: 33.1%;
	background-color: white;
}
.collection-item img,
.collection-item video {
	width: 100%;
	height:202px;
	
}

.collection-text {
	padding: 0 20px 20px 20px;
}
.collection-text h3 {
	color: #222;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.collection-text p {
	height: 80px;
	overflow: hidden;
}
.collection-text button {
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
}

/*FOOTER*/
.footer {
	background-color:#E3FFD3;
	color: white;
	padding: 1px 0;
	margin-top: 30px;
}
.to-top {
	background: #E3FFD3;
	position: fixed;
	z-index: 1;
	right: 10px;
	bottom: 115px;
	cursor: pointer;
	padding: 5px 15px;
	color: #E3FFD3;
}
.to-top li a:hover {
	color:white;
	background-color: #222;
	border: 1px solid transparent;
	border-radius: 5px;
}